@font-face {
    font-family: "IRANSans";
    src: url("IRANSansXFaNum-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    background-color: #121212;
    color: #ffffff;
    font-family: IRANSans, sans-serif;
    direction: rtl;
    background-image: url("flashlight-beam-effect-realistic-light-illumination-mockup_53562-15374.avif");
    background-size: cover; /* تصویر پس‌زمینه را به اندازه کامل صفحه تنظیم می‌کند */
    background-position: center; /* تصویر را در مرکز صفحه قرار می‌دهد */
    position: relative; /* برای استفاده از لایه overlay */
    margin: 0;
}

.overlay {
    position: absolute; /* لایه overlay را به صورت مطلق قرار می‌دهد */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* رنگ سیاه با شفافیت 50% */
    z-index: -1; /* لایه overlay را بالای تصویر قرار می‌دهد */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* برای قرار دادن محتوای داخل container بالای overlay */
    z-index: 2; /* محتوای داخل container را بالای overlay قرار می‌دهد */
}


h1 {
    text-align: center;
    color: #ffd700;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    font-size: 10px;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #444;
}

th {
    background-color: #333;
    color: #ffd700;
}

tr:hover {
    background-color: #1e1e1e;
}

.green {
    color: #4caf50;
}

.red {
    color: #ff5722;
}
#refreshButton {
    font-family: "IRANSans";
    background-color: #ffd700;
    color: #121212;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

#refreshButton:hover {
    background-color: #e6b800;
}

#refreshButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.spinner {
    display: inline-block;
}

.hidden {
    display: none;
}
